{% load static %}

<footer>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-7">
                <img src="{% static 'img/logo_footer.svg' %}" alt="Logo">
                <p>Azerbaijani Women in Science (AWiS) aims to bring more Azerbaijani girls to STEM and STEM related disciplines to maintain the educated society.</p>
                <p class="mt-4">Join our mailing list to receive updates about our new projects and opportunities as well as useful materials</p>

                
                <form
                            action="#" id='subscribe-form' class="form-inline subscribe-form auth-form needs-validation" method="POST"
                            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">

                                {% csrf_token %}
                                <input type="text" name="email" name="EMAIL" id="mce-EMAIL"
                                    placeholder="Enter your email" required="required">
                                

                            

                            <button  type="submit"   id="mc-submit">subscribe</button>
                            
                            <ul id="error-list" style="list-style-type: none">

                            </ul>
                        </form> 



            </div>
            <div class="col-5">
                <p>E-mail: awis@gmail.com</p>
                <p>Tel: +994 99 899 92 26</p>
                <div class="social-media">
                    <p>Follow us on social media channels:</p>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                    </ul>
                </div>
            </div>
            <p class="copyright">Copyright © 2022 AWiS. Created by AWiS Design team and WebCenter.az</p>
        </div>
    </div>
</footer>