{% extends "base.html" %}
{% load static %}
  
{% block content %}

    <main id="about-us">
        <section class="banner container">
            <div class="row">
                <div class="col-6">
                    <h2>Our Story</h2>
                    <p>An NPO <b>Azerbaijani Women in Science (AWiS)</b> was founded by <b>Gunel Aghabayli</b> in <b>June 2020</b> with the noble aim to create a strong community of Azerbaijani females united by STEM and STEM-related disciplines.</p>
                    <p>Mrs. Gunel was hugely inspired by the heritage of the <b>Azerbaijani philanthropist H. Z. Taghiyev</b>, who sponsored the building of the first secular school for Muslim girls in the whole Middle East and Russian Empire and who strongly advocated for educating Azerbaijani women. Taghiyev said: <b>“When you educate a boy, you get one educated person. When you educate a girl, you will get an educated family”</b> and we could not agree more!</p>
                </div>
                <div class="col-6 text-end">
                    <img src="{% static 'img/about-us-banner.png' %}" alt="Banner image">
                    <p class="img-desc">Lessons at the Empress Alexandra Russian Muslim Boarding School for Girls, sponsored by H. Z. Taghiyev, 1911.</p>
                </div>
            </div>
        </section>

        <section class="achivements">
            <div class="container">
                <h3 class="section-title">AWiS achievements:</h3>
                <div class="achivement-row">
                    {% for i in statitics %}
                    <div class="achivement-box">
                        <h3><span id="value1">0</span><span id="value01" style="display: none;">{{i.projects}}</span> projects</h3>
                        <p>local and international</p>
                    </div>
                    <div class="achivement-box">
                        <h3><span id="value2">0</span><span id="value02" style="display: none;">{{i.eur}}</span>K EUR</h3>
                        <p>funds<br>raised</p>
                    </div>
                    <div class="achivement-box">
                        <h3><span id="value3">0</span><span id="value03" style="display: none;">{{i.females}}</span> females</h3>
                        <p>AWiS volunteers</p>
                    </div>
                    <div class="achivement-box">
                        <h3><span id="value4">0</span><span id="value04" style="display: none;">{{i.girls_mentees}}</span> girls</h3>
                        <p>AWiS mentees</p>
                    </div>
                    <div class="achivement-box">
                        <h3><span id="value5">0</span><span id="value05" style="display: none;">{{i.girls_regional}}</span> girls</h3>
                        <p>regional ambassadors</p>
                    </div>
                    <div class="achivement-box">
                        <h3><span id="value6">0</span><span id="value06" style="display: none;">{{i.followers}}</span>k+</h3>
                        <p>social media followers </p>
                    </div>
                    <div class="achivement-box">
                        <h3><span id="value7">0</span><span id="value07" style="display: none;">{{i.women}}</span> women</h3>
                        <p>experts in network</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="partners container">
            <h2 class="section-title">Our trusted partners:</h2>
            <div class="row align-items-center text-center">
                <div class="col-2">
                    <img src="{% static 'img/partners/un-women.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/unfpa.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/undp.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/usaid.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/Embassy logo.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/unesco.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/image 114.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/Presidency Logo.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/UFAZ logo.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/femtech.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/gender-hub.png' %}" alt="">
                </div>
                <div class="col-2">
                    <img src="{% static 'img/partners/asa.png' %}" alt="">
                </div>
            </div>
        </section>

        <section class="board-members container">
            <div class="row">
                <div class="col-6">
                    <h2>AWiS Board Members</h2>
                    <div class="member-info">
                        <p>Gunel Aghabayli</p>
                        <p>CEO, Director</p>
                    </div>
                    <p>Gunel is a Doctoral Researcher at the School of Engineering’s Institute for Energy Systems. She has a Bachelor’s degree in Applied Chemistry from Moscow State University. In 2015, Gunel received a government scholarship to pursue her Master’s degree in Chemical Engineering at the University of Birmingham and following this, began her Ph.D. in the School of Engineering at the University of Edinburgh.</p>
                </div>
                <div class="col-6 text-end">
                    <img src="{% static 'img/gunel-aghabayli.png' %}" alt="Gunel Aghabayli">
                </div>            
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="member-info">
                        <p>Ravan Mammadov</p>
                        <p>Vice Chair & Business Development Manager</p>
                    </div>
                    <p>Process & Project Engineer with 8 years of engineering systems experience within oil & gas facilities, exclusively on projects for BP and SOCAR. Have a working knowledge of international codes and standards, including API, ASME, ISO, NACE, ANSI, ISA, BP speciﬁc speciﬁcations, and guidance practices. Motivated and dynamic professional with upstream and demonstrated expertise in Brownﬁeld and Greenﬁeld developments through all design life cycle stages comprising Conceptual, FEED, Detailed, and Construction.</p>
                </div>
                <div class="col-6 text-end">
                    <img src="{% static 'img/ravan-mammadov.png' %}" alt="Ravan Mammadov">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="member-info">
                        <p>Fidan Ismiyeva Miriyeva</p>
                        <p>Vice Chair and Design Manager</p>
                    </div>
                    <p>Fidan is an experienced digital and industrial product designer currently working in Berlin. She graduated from the Faculty of Industrial Product Design at the Middle East Technical University of Turkey in 2013-2017 and obtained her Design and Engineering MSc degree from the Politecnico di Milano University in Italy with the "Invest Your Talent in Italy" Scholarship in 2020. During her studies, she worked as a designer in well-known corporate companies, start-ups, and design studios.</p>
                </div>
                <div class="col-6 text-end">
                    <img src="{% static 'img/fidan-ismiyeva-miriyeva.png' %}" alt="Fidan Ismiyeva Miriyeva">
                </div>
            </div>
        </section>

        <section class="coreteam container"> 
            <h2>AWiS Core Team</h2>
            <p>Together with the core team members since 2020 more than 50 young Azerbaijanis (full list <a href="#">here</a>) have contributed to AWiS mission. You can join us as well!</p>
            <a href="#" class="more">Opportunities <i class="fa-solid fa-angle-right"></i></a>

            <div class="row">
                <div class="col-4">
                    <div>
                        <div class="coreteam-img" style="background-image: url('{% static 'img/vajiyya-aliyeva.png' %}');"></div>
                        <p class="coreteam-name">Vajiyya Aliyeva</p>
                        <p>HR and Project Manager</p>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <div class="coreteam-img" style="background-image: url('{% static 'img/heyran-hajiyeva.png' %}');"></div>
                        <p class="coreteam-name">Heyran Hajiyeva</p>
                        <p>Project Manager</p>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <div class="coreteam-img" style="background-image: url('{% static 'img/gulay-aliyeva.png' %}');"></div>
                        <p class="coreteam-name">Gulay Aliyeva</p>
                        <p>Project Coordinator</p>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <div class="coreteam-img" style="background-image: url('{% static 'img/lala-alizade.png' %}');"></div>
                        <p class="coreteam-name">Lala Alizada</p>
                        <p>Project Coordinator</p>     
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <div class="coreteam-img" style="background-image: url('{% static 'img/nazrin-mamedova.png' %}');"></div>
                        <p class="coreteam-name">Nazrin Mammadova</p>
                        <p>Graphic Designer</p>    
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <div class="coreteam-img" style="background-image: url('{% static 'img/huseyin-gahramanov' %}   ');"></div>
                        <p class="coreteam-name">Huseyin Gahramanov</p>
                        <p>Photographer and Videographer</p>    
                    </div>
                </div>
            </div>
        </section>
    </main>  
    
    <script>
        function animateValue(obj, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min((timestamp - startTimestamp) / duration, 1);
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                    window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }

        const obj1 = document.getElementById("value1");
        const value1 = parseInt(document.getElementById("value01").textContent);
        const obj2 = document.getElementById("value2");
        const value2 = parseInt(document.getElementById("value02").textContent);
        const obj3 = document.getElementById("value3");
        const value3 = parseInt(document.getElementById("value03").textContent);
        const obj4 = document.getElementById("value4");
        const value4 = parseInt(document.getElementById("value04").textContent);
        const obj5 = document.getElementById("value5");
        const value5 = parseInt(document.getElementById("value05").textContent);
        const obj6 = document.getElementById("value6");
        const value6 = parseInt(document.getElementById("value06").textContent);
        const obj7 = document.getElementById("value7");
        const value7 = parseInt(document.getElementById("value07").textContent);
        animateValue(obj1, 0, value1, 3000);
        animateValue(obj2, 0, value2, 3000);
        animateValue(obj3, 0, value3, 3000);
        animateValue(obj4, 0, value4, 3000);
        animateValue(obj5, 0, value5, 3000);
        animateValue(obj6, 0, value6, 3000);
        animateValue(obj7, 0, value7, 3000);
    </script>

{% endblock %}
