<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opportunities | AWiS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f9a01ea1da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header>
        <nav class="container">
            <a href="index.html"><img src="assets/img/logo.svg" alt="Logo"></a>
            <ul>
                <li><a href="about.html">About us</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="news.html">News</a></li>
                <li class="active"><a href="opportunities.html">Opportunities</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main id="opportunities">
        <section class="banner container">
            <div class="row">
                <div class="col-6">
                    <h2>AWiS Network & Support</h2>
                    <p>Since June 2020 we strongly rely on the AWiS team members and we belive that without the team effort and our local and international network there would be neither AWiS we have today nor hundreds of positively impacted girls’ lives!</p>
                    <p>We invite you to join to our network, or as we call it “AWiS Hub” to create even more educational projects and positively contribute to the issues of Gender Inequality and Qualitative Education.</p>
                    <p>Read the available roles with descriptions below and fill in the form. Our team will reach out to you as soon as we can.</p>
                </div>
                <div class="col-6 text-end">
                    <img src="assets/img/opportunities-banner.png" alt="Banner image">
                </div>
            </div>
        </section>

        <section class="roles"></section>

        <section class="interest-form container">
            <form action="#">
                <div class="row">
                    <div class="col-5">
                        <input type="text" placeholder="Name Surname*" required>
                        <input type="text" placeholder="E-mail address*" required>
                        <input type="tel" placeholder="Phone number">
                        <select required>
                            <option value="volunteer">Volunteer</option>
                            <option value="partner">Partner</option>
                            <option value="mentor">Mentor</option>
                            <option value="donor">Donor</option>
                        </select>
                    </div>
                    <div class="col-7">
                        <textarea cols="30" rows="10" placeholder="Tell us more..."></textarea>
                    </div>
                    <div class="col-12 text-end">
                        <button type="submit">Submit the form</button>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-7">
                    <img src="assets/img/logo_footer.svg" alt="Logo">
                    <p>Azerbaijani Women in Science (AWiS) aims to bring more Azerbaijani girls to STEM and STEM related disciplines to maintain the educated society.</p>
                    <p class="mt-4">Join our mailing list to receive updates about our new projects and opportunities as well as useful materials</p>
                    <form action="">
                        <input type="email" placeholder="Your email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
                <div class="col-5">
                    <p>E-mail: awis@gmail.com</p>
                    <p>Tel: +994 99 899 92 26</p>
                    <div class="social-media">
                        <p>Follow us on social media channels:</p>
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">Copyright © 2022 AWiS. Created by AWiS Design team and WebCenter.az</p>
            </div>
        </div>
    </footer>
</body>
</html>