

{% extends "base.html" %}
{% load static %}
  
{% block content %}




    <main id="opportunities">
        <section class="banner container">
            <div class="row">
                <div class="col-6">
                    <h2>AWiS Network & Support</h2>
                    <p>Since June 2020 we strongly rely on the AWiS team members and we belive that without the team effort and our local and international network there would be neither AWiS we have today nor hundreds of positively impacted girls’ lives!</p>
                    <p>We invite you to join to our network, or as we call it “AWiS Hub” to create even more educational projects and positively contribute to the issues of Gender Inequality and Qualitative Education.</p>
                    <p>Read the available roles with descriptions below and fill in the form. Our team will reach out to you as soon as we can.</p>
                </div>
                <div class="col-6 text-end">
                    <img src="{% static 'img/opportunities-banner.png' %}" alt="Banner image">
                </div>
            </div>
        </section>

        <section class="roles"></section>

        <section class="interest-form container">
            <form action="#" method="post">
                <div class="row">
                    <div class="col-5">
                        {% csrf_token %}
                        {{form.name}}
                        <!-- <input type="text" placeholder="Name Surname*" required> -->
                        {{form.email}}
                        <!-- <input type="text" placeholder="E-mail address*" required> -->
                        {{form.number}}
                        <!-- <input type="tel" placeholder="Phone number"> -->
                        <!-- <select required> -->
                            <!-- <option value="volunteer">Volunteer</option>
                            <option value="partner">Partner</option>
                            <option value="mentor">Mentor</option>
                            <option value="donor">Donor</option> -->
                            {{ form.membership_type }}

                        <!-- </select> -->
                    </div>
                    <div class="col-7">
                        <!-- <textarea cols="30" rows="10" placeholder="Tell us more..."></textarea> -->
                        {{form.message}}
                    </div>
                    <div class="col-12 text-end">
                        <button type="submit">Submit the form</button>
                        {% for message in messages %}
                        <p class="text-success">{{message}}</p>        
                        {% endfor %}
                    </div>
                </div>
            </form>
        </section>
    </main>


    {% endblock %}
