
{% extends "base.html" %}

{% block title %}{{news.title}} | AWiS{% endblock %}


{% load static %}

{% block content %}

    <main id="news-details">
        <section class="container">
            <h2>AWiS News & Events</h2>
            <div class="row">
                <div class="col-12">
                    <img src="{{news.des_image.url}}" alt="Lorem"> 
                    <h3>{{news.title}}</h3>
                    <p class="news-date">{{news.created_at|date:"F d, Y"}}</p>
                    <p class="news-desc"> {{news.description|safe}}</p>
                </div>
            </div>
            <div class="news-link">
                <a href="#"><i class="fa-solid fa-angle-left"></i>Back</a>
                <a href="#">Next<i class="fa-solid fa-angle-right"></i></a>
            </div>
        </section>
    </main>


{% endblock %}
