{% extends "base.html" %}
{% load static %}

{% block title %}News | AWİS{% endblock %}

  
{% block content %}

    <main id="news">
        <section class="container">
            <h2>AWiS News & Events</h2>
            <div class="row">

                {% for i in news %}
                <div class="col-4">
                    <a href="{{ i.get_absolute_url }}">
                        <div class="news-box">
                            <div class="news-img" style="background-image: url( {{i.cover_image.url}} );"></div>
                            <p class="news-date"> {{ i.created_at }} </p>
                            <p class="news-title">{{i.title}}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}

                <!-- <div class="col-4">
                    <a href="news-details.html">
                        <div class="news-box">
                            <div class="news-img" style="background-image: url('{% static 'img/news2.png' %}');"></div>
                            <p class="news-date">15 May, 2021</p>
                            <p class="news-title">AWiS wins the prestigeous Gender Equality Prize</p>
                        </div>
                    </a>
                </div> -->
            </div>
        </section>

        <div class="pagination container">
            <ul>
                {% if page_obj.has_previous %}
                <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a></li>
                {% endif %}
                <li class="active"><a class="deactive">{{ page_obj.number }}</a></li>
                <li><a class="deactive">/</a></li>
                <li><a class="deactive">{{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                <li class="arrow"><a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </main>

    <script>
        document.getElementsByClassName("deactive").forEach(element => {
            element.addEventListener("click", function(e) {
                e.preventDefault();
            });
        });
    </script>

{% endblock %}
